@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Vinyl&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Vinyl&family=Sriracha&display=swap');

:root {
    --font01: verdana,Geneva,tahoma, sans-serif;
    --font02: 'passion one', cursive;
    --font03: 'sriracha', cursive;
      
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 50px
    font-family:(--font01);

}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font02);
    font-size: 3vh;

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 3vw;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 10vw;


}
header p {
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a :hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
section.normal{
    background-color: white;
    color: rgb(0, 0, 0);

}
section.imagem{
    background-color: rgb(31, 31, 31);
    color: white;
    background-attachment: fixed;
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.675);
    text-shadow: 1px 1px 0px black;
    
}

section >p{
    padding-bottom: 2em;
    

}
section#img01{
    background-image: url(background001.jpg);
    background-position: right, center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
}
section#img02{
   background-image: url(background002.jpg);
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
}